.offers {
	position: relative;

	&__row {
		background-color: c(aqua);
		position: relative;
		padding-top: 72px;//es el height del menu-main, y se lo damos como padding para que no se colapse cuando fijemos el menu 
		@include under(sm) {
			padding-top: 0;//aqui se esconde el menu
		}
	}
	&__title {
		@extend %title-about;
		padding-top: 150px;
		text-align: center;
		width: 100%;
		@include under (bag) {
			padding-top: 80px;
		}
	}
	&__subtitle {
		@extend %subtitle-aboutb;
		text-align: center;
		padding: 23px 0px 60px 0px;
		width: 100%;
		color: c(red);
	}

	&__list {
		width: 100%;
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
		align-items: baseline;
		margin: 20px 0;
		
		&-container {			
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			padding: 50px 0;
			
			width: 100%;
			margin: 0 auto;
			max-width: 870px;
		}

		&-item {
			@extend %subtitle-about;
			width: 100%;
			text-align: center;
		}

		&-bullet {
			height: 15px;
			width: auto;
			position: relative;
    		left: 25%;
    		@include under (bag) {
				left: 5%;
    		}
    		@include under (xs) {
				left: 1%;
    		}
		}
	}
}
